.property-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.property-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.property-card h2 {
  color: #0073e6;
}

.property-card p {
  margin: 5px 0;
}
